<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='style05.css')}}">
	<title>FRANEE</title>
</head>

<body>
	<header>
		<div class="logo">
			<a href="/"><img src="{{url_for('static', filename='test.png')}}" width="190x" height="55px" /></a>
		</div>
		<div class="box">
			<div class="container">
				<input type="search" id="search" placeholder="{{ name }}"/>
                <button class="icon"><i class="fa fa-search"></i></button>
			</div>
		</div>

		<ul class="links">
			<li>
				<a href="/hello"><img src="{{url_for('static', filename='menu01.png')}}" width="65%" /></a>
			</li>
			<li>
				<a href="/secondpage"><img src="{{url_for('static', filename='menu02.png')}}" width="65%" /></a>
			</li>
			<li>
				<a href="/thirdpage"><img src="{{url_for('static', filename='menu03.png')}}" width="65%" /></a>
			</li>
			<li>
				<a href="/fourthpage"><img src="{{url_for('static', filename='menu04.png')}}" width="65%" /></a>
			</li>
			<li>
				<a href="/fifthpage"><img src="{{url_for('static', filename='menu05.png')}}" width="65%" /></a>
			</li>
			<li>
				<a href="/sixthpage"><img src="{{url_for('static', filename='menu06.png')}}" width="65%" /></a>
			</li>
		</ul>
	</header>

    <section>
        <div id="table00">
            <div id="sub_title00">
                <h4>&nbsp&nbsp 지역분석 검색</h4>
            </div>
            <div>
                <a class="btn" href="#">희망 지역</a>
				<a class="btn2" href="#">매출액</a>
				<a class="btn2" href="#">임대료</a>
				<a class="btn2" href="#">유동인구</a>
            </div>
        </div>
    </section>

	<section>
		<div id="table01">
			<div id="sub_title01">
				<h4>&nbsp&nbsp 구역별 업종 매출액</h4>
			</div>
			<div>
				<a class="btn2" href="#">증감여부</a>
				<h2>&nbsp&nbsp 강남구</h2>
			</div>
		</div>
	</section>
	<section>
		<div id="table02">
			<div id="sub_title02">
				<h4>&nbsp&nbsp 구역별 매출액</h4>
			</div>
		</div>
	</section>
	<section>
		<div id="table03">
			<div id="sub_title03">
				<h4>&nbsp&nbsp 최근 3년 간 매출액</h4>
			</div>
		</div>
	</section>

</body>

</html>