<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style04.css">
	<title>FRANEE</title>
</head>

<body>
	<header>
		<div class="logo">
			<img src="test.png" width="190x" height="55px" />
		</div>

		<div class="input_form">
			<form class="search-container">
    			<input type="text" id="search-bar" placeholder="희망 기업명을 입력해주세요">
    			<a href="#"><img class="search-icon" src="searchicon.png"></a>
  			</form>
		</div>

		<ul class="links">
			<li>
				<a href="#"><img src="menu01.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu02.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu03.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu04.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu05.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu06.png" width="65%" /></a>
			</li>
		</ul>
	</header>

    <section>
        <div id="table01">
            <div id="sub_title01">
                <h4>&nbsp&nbsp 총 가맹점 수</h4>
            </div>
        </div>
        <div id="table02">
            <div id="sub_title02">
                <h4>&nbsp&nbsp 총 매출액 변동 추이</h4>
            </div>
        </div>
        <div id="table03">
            <div id="sub_title03">
                <h4>&nbsp&nbsp 소비자 비율(연령)(</h4>
            </div>
        </div>
    </section>

    <section>
		<div id="table04">
            <div id="sub_title04">
                <h4>&nbsp&nbsp 가맹점 수 비중</h4>
            </div>
        </div>
		<div id="table05">
            <div id="sub_title05">
                <h4>&nbsp&nbsp 시장점유율(매출액 기준)</h4>
            </div>
        </div>
		<div id="table06">
            <div id="sub_title06">
                <h4>&nbsp&nbsp 소비자 비율(성별)</h4>
            </div>
        </div>
    </section>
</body>

</html>