<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style06.css">
	<title>FRANEE</title>
</head>

<body>
	<header>
		<div class="logo">
			<img src="test.png" width="190x" height="55px" />
		</div>

		<div class="box">
			<div class="container">
				<input type="search" id="search" placeholder="검색할 기업명을 입력해주세요"/>
                <button class="icon"><i class="fa fa-search"></i></button>
			</div>
		</div>

		<ul class="links">
			<li>
				<a href="#"><img src="menu01.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu02.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu03.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu04.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu05.png" width="65%" /></a>
			</li>
			<li>
				<a href="#"><img src="menu06.png" width="65%" /></a>
			</li>
		</ul>
	</header>

    <section>
        <div id="table01">
            <div id="sub_title01">
                <h4>희망 업종</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 270px; height: 326px; float: left;">
				<a class="btn" href="#">대분류</a>
				<a class="btn" href="#">한식</a>
				<a class="btn" href="#">중식</a>
				<a class="btn" href="#">일식</a>
				<a class="btn" href="#">양식</a>
				<a class="btn" href="#">분식</a>
			</div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 270px; height: 326px; float: right">
				<a class="btn" href="#">소분류</a>
				<a class="btn" href="#">중화요리전문</a>
				<a class="btn" href="#">마라탕</a>
				<a class="btn" href="#">마라샹궈</a>
				<a class="btn" href="#"></a>
				<a class="btn" href="#"></a>
			</div>
        </div>
        <div id="table02">
            <div id="sub_title02">
                <h4>희망 지역</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 273px; height: 326px; float: left;">
				<a class="btn" href="#">대분류</a>
				<a class="btn" href="#">서울</a>
				<a class="btn" href="#">부산</a>
				<a class="btn" href="#">대구</a>
				<a class="btn" href="#">인천</a>
				<a class="btn" href="#">광주</a>
				<a class="btn" href="#">대전</a>
				<a class="btn" href="#">울산</a>
				<a class="btn" href="#">세종</a>
				<a class="btn" href="#">경기</a>
				<a class="btn" href="#">강원</a>
				<a class="btn" href="#">충북</a>
				<a class="btn" href="#">충남</a>
				<a class="btn" href="#">전북</a>
				<a class="btn" href="#">전남</a>
				<a class="btn" href="#">경북</a>
				<a class="btn" href="#">경남</a>
				<a class="btn" href="#">제주</a>
			</div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 273px; height: 326px; float: right">
				<a class="btn" href="#">소분류</a>
				<a class="btn" href="#">강남구</a>
				<a class="btn" href="#">강동구</a>
				<a class="btn" href="#">강북구</a>
				<a class="btn" href="#">강서구</a>
				<a class="btn" href="#">관악구</a>
				<a class="btn" href="#">광진구</a>
				<a class="btn" href="#">구로구</a>
				<a class="btn" href="#">금천구</a>
				<a class="btn" href="#">노원구</a>
				<a class="btn" href="#">도봉구</a>
				<a class="btn" href="#">동대문구</a>
				<a class="btn" href="#">마포구</a>
			</div>
		</div>
        <div id="table03">
            <div id="sub_title03">
                <h4 style="float:right;">초기 자본금&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(단위:만원)&nbsp&nbsp&nbsp&nbsp</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 526px; height: 326px;">
				<a class="btn" href="#">최저&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp최대</a>
				<a class="btn" href="#">0&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp4,000</a>
				<a class="btn" href="#">4,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp5,000</a>
				<a class="btn" href="#">5,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp6,000</a>
				<a class="btn" href="#">6,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp7,000</a>
				<a class="btn" href="#">7,000&nbsp&nbsp&nbsp&nbsp~&nbsp</a>
			</div>
        </div>
    </section>

    <section>
		<div id="table04">
            <div id="sub_title04">
                <h4 style="float:right;">희망 월 매출액&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(단위:만원)&nbsp&nbsp&nbsp&nbsp</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 526px; height: 326px;">
				<a class="btn" href="#">최저&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp최대</a>
				<a class="btn" href="#">0&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp4,000</a>
				<a class="btn" href="#">4,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp5,000</a>
				<a class="btn" href="#">5,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp6,000</a>
				<a class="btn" href="#">6,000&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp7,000</a>
				<a class="btn" href="#">7,000&nbsp&nbsp&nbsp&nbsp~&nbsp</a>
			</div>
        </div>
		<div id="table05">
            <div id="sub_title05">
                <h4 style="float:right;">희망 월 임대료&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(단위:만원)&nbsp&nbsp&nbsp&nbsp</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 526px; height: 326px;">
				<a class="btn" href="#">최저&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp최대</a>
				<a class="btn" href="#">0&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp100</a>
				<a class="btn" href="#">100&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp300</a>
				<a class="btn" href="#">300&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp500</a>
				<a class="btn" href="#">800&nbsp&nbsp&nbsp&nbsp~&nbsp&nbsp&nbsp&nbsp1,000</a>
				<a class="btn" href="#">1,000&nbsp&nbsp&nbsp&nbsp~&nbsp</a>
			</div>
        </div>
		<div id="table06">
            <div id="sub_title06">
                <h4>&nbsp&nbsp FRANEE 추천 목록</h4>
            </div>
			<div style="overflow-x: hidden; overflow-y: scroll; width: 526px; height: 326px;">
				<a class="btn" href="#">BBQ</a>
				<a class="btn" href="#">BHC</a>
				<a class="btn" href="#">네네치킨</a>
				<a class="btn" href="#">굽네치킨</a>
				<a class="btn" href="#">맘스터치</a>
			</div>
        </div>
    </section>
</body>

</html>