<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style03.css')}}">
    <title>FRANEE</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="{{url_for('static', filename='test.png')}}" width="190x" height="55px" /></a>
        </div>
        <div class="box">
            <div class="container">
                <input type="search" id="search" placeholder="{{ name }}"/>
                <button class="icon"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <ul class="links">
            <li>
                <a href="/hello"><img src="{{url_for('static', filename='menu01.png')}}" width="65%" /></a>
            </li>
            <li>
                <a href="/secondpage"><img src="{{url_for('static', filename='menu02.png')}}" width="65%" /></a>
            </li>
            <li>
                <a href="/thirdpage"><img src="{{url_for('static', filename='menu03.png')}}" width="65%" /></a>
            </li>
            <li>
                <a href="/fourthpage"><img src="{{url_for('static', filename='menu04.png')}}" width="65%" /></a>
            </li>
            <li>
                <a href="/fifthpage"><img src="{{url_for('static', filename='menu05.png')}}" width="65%" /></a>
            </li>
            <li>
                <a href="/sixthpage"><img src="{{url_for('static', filename='menu06.png')}}" width="65%" /></a>
            </li>
        </ul>
    </header>

    <section>
        <div id="table00">
            <div id="sub_title00">
                <h4>&nbsp&nbsp 비교 기업 선택</h4>
            </div>
            <div>
                <a class="btn" href="#">마라마라</a>
                <a class="btn" href="#">마라세상</a>
                <a class="btn" href="#">라공방</a>
                <a class="btn" href="#">마라매니아</a>
                <a class="btn" href="#">마라쓰</a>
                <a class="btn" href="#">먹지마라</a>
                <a class="btn" href="#">마라플레이스</a>
                <a class="btn" href="#">마라샹궈</a>
                <a class="btn" href="#">마라그램</a>
                <a class="btn" href="#">마라사전</a>
                <a class="btn" href="#">마라왕</a>
            </div>
        </div>
    </section>
    <section>
        <div id="table01">
            <div id="sub_title01">
                <h4>&nbsp&nbsp 매출액 비교(단위:천원)</h4>
            </div>
        </div>
        <div id="table02">
            <div id="sub_title02">
                <h4>&nbsp&nbsp 가맹점주 부담금(단위:천원)</h4>
            </div>
        </div>
        <div id="table03">
            <div id="sub_title03">
                <h4>&nbsp&nbsp 직영점 및 계약해지 비율</h4>
            </div>
        </div>
    </section>

    <section>
		<div id="table04">
            <div id="sub_title04">
                <h4>&nbsp&nbsp 가맹점 수 변동 추이 비교</h4>
            </div>
        </div>
        <div id="table05">
            <div id="sub_title05">
                <h4>&nbsp&nbsp 자산/부채 정보(단위:천원)</h4>
            </div>
        </div>
        <div id="table06">
            <div id="sub_title06">
                <h4>&nbsp&nbsp 인스타그램 게시물 수 변화 추이 비교</h4>
            </div>
        </div>
    </section>
</body>

</html>