*{
	margin: 0px auto;
	padding: 0px auto;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #FFFFFF;
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	background-color: #f2f2f2;
	font-family: 'Nanum Gothic', sans-serif;
}

.links {
	display: flex;
	justify-content: space-around;
}

.links li {
	list-style: none;
}

.container{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.logo{
    margin: 0px 50px;
}

.container input#search{
  width: 300px;
  height: 50px;
  background: #EFF8FB;
  border: none;
  font-size: 12pt;
  float: left;
  color: #2B303B;
  padding-left: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.container input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container input#search:-ms-input-placeholder {
   color: #65737e;
}

.container button.icon{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: #A9E2F3;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }

.container:hover button.icon:hover{
    background: #A9E2F3;
}

section{
    font-size: 20px;
    font-weight: bold;
    line-height: 2.8;
}
 div#table01 {
    background-color: white;
	width: 550px;
	height: 390px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 4px dimgray;
	border: 1px solid #F1F1F1;
 }

  div#table02 {
    background-color: white;
	width: 550px;
	height: 390px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 4px dimgray;
	border: 1px solid #F1F1F1;
 }

  div#table03{
    background-color: white;
	width: 550px;
	height: 390px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 4px dimgray;
	border: 1px solid #F1F1F1;
 }

 div#table04{
    background-color: white;
	width: 1110px;
	height: 390px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 4px dimgray;
	border: 1px solid #F1F1F1;
 }

  div#table06{
    background-color: white;
	width: 550px;
	height: 390px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 4px dimgray;
	border: 1px solid #F1F1F1;
 }

 div#sub_title01 {
	background-color: #A9E2F3;
	width: 548px;
	height: 60px;
	float: left;
	border-radius: 7px;
	border: 1px solid #F1F1F1;
}

 div#sub_title02 {
	background-color: #A9E2F3;
	width: 548px;
	height: 60px;
	float: left;
	border-radius: 7px;
	border: 1px solid #F1F1F1;
}

 div#sub_title03 {
	background-color: #A9E2F3;
	width: 548px;
	height: 60px;
	float: left;
	border-radius: 7px;
	border: 1px solid #F1F1F1;
}
div#sub_title04 {
	background-color: #A9E2F3;
	width: 1108px;
	height: 60px;
	float: left;
	border-radius: 7px;
	border: 1px solid #F1F1F1;
}

div#sub_title06 {
	background-color: #A9E2F3;
	width: 548px;
	height: 60px;
	float: left;
	border-radius: 7px;
	border: 1px solid #F1F1F1;
}